POSTGRES_DB=flavornotes
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

JWT_KEY=YourSuperSecretKeyThatShouldBeAtLeast32CharactersLong!
JWT_ISSUER=FlavorNotes
JWT_AUDIENCE=FlavorNotes

REDIS_HOST=redis
REDIS_PORT=6379

LOG_LEVEL=Information
